.header {
  padding: 2rem 0;
  border-bottom: 0.6rem solid $colorWhite2;
  @extend %smooth-transition;

  @include onTablet {
    min-height: 47vh;
  }
}

.titleAndDogIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.3rem;
  margin-bottom: 1.5rem;

  @extend %smooth-transition;
  @include onTablet {
    margin-bottom: 2rem;
    gap: 1.5rem;
  }
}
