.text {
  white-space: pre-line;
  font-size: 1.4rem;
  line-height: 170%;

  @extend %smooth-transition;
  @include onTablet {
    font-size: 1.6rem;
    line-height: 200%;
  }
  color: $colorGrey2;
}


.textCursor::after {
  content: '|';
  animation: cursor 1.1s infinite step-start;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}
