/*#region fontSize */
  $mainFontSize: 10px;
/*#endregion */

/*#region fontFamily */
  $mainFontFamily: 'Roboto', 'sans-serif';
/*#endregion */

/*#region mainBackgroundColors */
  $mainBackgroundColorLight: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  $mainBackgroundColorDark: linear-gradient(to right, #040D1C, #000000);
  /*#endregion */

/*#region colorGreen */
  $colorGreen: #e2f0de;
  $colorGreen1: #338c36;
  $colorGreen2: #419544;
  $colorGreen3: #387b3d;
/*#endregion */

/*#region colorWhite */
  $colorWhite: #fff;
  $colorWhite2: rgba(255, 255, 255, 0.7);
  $colorWhite3: rgb(255, 236, 236);
/*#endregion */

/*#region colorBlack */
  $colorBlack: #000;
  $colorBlack1: #141414;
/*#endregion */

/*#region colorGrey */
  $colorGrey: #333333;
  $colorGrey2: #1d1d1d;
  $colorGrey3: rgb(185, 178, 178);
/*#endregion */

/*#region colorBlue */
  $colorBlue: #3498db;
/*#endregion */

/*#region colorDarkBlue */
  $colorDarkBlue: #040d1c;
  $colorDarkBlue1: #0a1f39;
/*#endregion */

/*#region colorYellow */
  $colorYellow: rgb(255, 255, 0);
/*#endregion */

/*#region colorRed */
  $colorDanger: #ff0a0a;
/*#endregion */
