.wrapper {
  min-height: 70vh;
  border-bottom: 0.6rem solid $colorWhite2;
}

.themeModeSwitcherWrapper {
  position: absolute;
  top: 3%;
  right: 5%;

  @extend %smooth-transition;

  @include onTablet {
    top: 5%;
  }
}
